<div class="mainContainer">

    <p>Products</p>

<div class="row1">
 <div class="picAndWord">  
    <a routerLink="/Productlisting"><img src="../../assets/potatoes.jpg" class="image"></a>
<label>potatoes</label>
</div> 
<div class="picAndWord"> 
<img src="../../assets/crotons.jpg" class="image">
<label>crotons</label>
</div> 
</div>

<div class="row2">    
    <div class="picAndWord">
<img src="../../assets/simmons.jpg" class="image">
    <label>simmons</label>
</div>
<div class="picAndWord"> 
    <img src="../../assets/cabbage.jpg" class="image">
    <label>cabbage</label>

</div>


</div>
<div class="row3">
    <div class="picAndWord">
<img src="../../assets/tomatoes.jpg" class="image">
    <label>Tomatoes</label>
    </div>

    <div class="picAndWord">
<img src="../../assets/pumking.jpg" class="image">
    <label>Pumking</label>

    </div>

</div>

</div>

