<div class="mainContainer">
    <div class="main">
        <div class="header">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <p>Product Listing</p>
    
        <mat-icon>keyboard_arrow_left</mat-icon>
        <p>Product Details</p>
    
        <div class="menu">
            <mat-icon>menu</mat-icon>
        </div>
        
        </div>

        <div class="headingPic">
            <p>Product Details</p>
            <img src="../../assets/yukon.jpg" class="image">
    
        </div>   
        
        <div class="row1">
            <div class="product-info">
                <span>Product ID</span> Potato Navigator
            </div>
            <div class="product-info">
                <span>Product Description</span> Potato Navigator
            </div>
            <div class="product-info">
                <span>Quantity</span> Potato Navigator
            </div>
            <div class="product-info">
                <span>Price</span> Potato Navigator
            </div>
        </div>
        
        <p class="p1">Additional Details</p>
        
        <div class="row2">            
            <div class="product-info">
                <span>Product Status</span> Potato Navigator
            </div>
            <div class="product-info">
                <span>Product Category</span> Potato Navigator
            </div>
            <div class="product-info">
                <span>Valid From</span> Potato Navigator
            </div>
            <div class="product-info">
                <span>Valid To</span> Potato Navigator
            </div>
        </div>   
         
           
        
        </div>
        
        <div class="toolbar">
            <ul class="navbar-list">
              <li class="navbar-item"><a href="#">Home</a></li>
              <li class="navbar-item product-link"><a href="#">Product</a></li>
              <li class="navbar-item"><a href="#">List Analytics</a></li>
              <li class="navbar-item"><a href="#">Profile</a></li>
            </ul>

                
            
        </div>
        
        
        
        

