.orderHistory{
    margin-left: 50px;
    margin-top: 10px;
}
   
// .content{
//   width: 100vw;
//   height: 100vh;
// }

.trader {
    display: flex;
    align-items: center;
    width: 250px;
    margin-left: 60px;
  
   
  }
  
  .trader .input-wrapper {
    position: relative;
    flex: 1;
    margin-left: 10px; 
    

  }
  
  .trader input {
    display: flex; 
    box-sizing: border-box;
    margin-right: 40px;
    width: 80px;
    
   
  }
  
  .trader mat-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 90px;
    margin: 0; 
   
  }
  .Order1, .Order2, .Order3, .Order4 {
  width: 100%;
  height: 110px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin-left: 40px;
  padding: 1%;
  
}

.wrapperOrders{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-top: 5px;
    width: 100%;
    

}

.dropDown{
    width: 180px; 
    font-size: 12px;
    padding: 5px;
    appearance: none;
}

label{
    color: skyblue;

}

.input-wrapper input{
display: flex;
background-color:white;
}

.input-wrapper mat-icon{
    display: flex;
    margin-left: 400px;
}




  
  
  
  