<div class="content">
<div class="orderHistory">
    <h3>Order History</h3>
</div>

<div class="trader">
    <span>BUYERS</span>
    <div class="input-wrapper">
      <select name="cars" id="food" class="dropDown">
        <option value="1st">1st LIFESTYLE FOODS</option>
      </select>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </div>

  <div class="wrapperOrders">
  <div class="Order1">
   
    <div><span>Order X0001<br><br>Time: 09:59am<br><br>Supplier ID:019244</span></div>
        <div><label>Status: Active</label></div>
    </div>
  


  <div class="Order2">
    <div><span>Order X0002<br><br>Time: 09:59am<br><br>Supplier ID:019244</span></div>
    <div><label>Status: Active</label></div>
  </div>
  
  <div class="Order3">
    <div><span>Order X0003<br><br>Time: 09:59am<br><br>Supplier ID:019244</span></div>
    <div><label>Status: Active</label></div>
  </div>

  <div class="Order4">
    <div><span>Order X0004<br><br>Time: 09:59am<br><br>Supplier ID:019244</span></div>
    <div><label>Status: Active</label></div>
  </div>
</div>

</div>
