.bottom{
    height: 220px;
    width: 350px;
    display: flex;
    margin-right: 2px;
    background-color: white;
    color: black;
}

.orderTwo{
    display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 3%;
        margin-left: 5%;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn1{
    color: blue;
    background-color: white;
    width: 80px;
    height: 25px;
    border: none;
    margin-top: 2%;


}

.datePicker{
    color:lightgray;
    padding-left: 150px;
    font-size: smaller;
    
}

.btn2{
    color: red;
    background-color: white;
    width: 80px;
    height: 25px;
    border: none;
      margin-top: 2%;

}