<div class="mainContent">
<label>Sales History</label>

<div class="pie-chart">
    <div class="slice slice-1" data-percentage="20">
      <label class="slice-1-trans">1 - 20%</label>
    </div>
    <div class="slice slice-2" data-percentage="30">
      <label class="slice-2-trans">2-23%</label>
    </div>
    <div class="slice slice-3" data-percentage="15">
      <label class="slice-3-trans"> 3 - 15%</label>
    </div>
    <div class="slice slice-4" data-percentage="10">
      <label class="slice-4-trans"> 4 - 10%</label>
    </div>
    <div class="slice slice-5" data-percentage="25">
   
    </div>
  </div>
  
  
</div>
